name: Posts Updater
on:
  push:
  schedule:
    - cron:  '0 0 * * *'
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: git setting
        run: |
          git config --local user.email "j02521@gmail.com"
          git config --local user.name "Ryo Shibayama"
      - run: php update_recent_posts.php
      - name: git commit
        run: |
          git add README.md
          git diff --staged --quiet || git commit -m "update posts"
          git push origin main
